.container_menu {
    width: 300px;
    height: 100vh;
    border-right: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
    transition: 0.3s;

    .box_logo_menu {
        display: flex;
        justify-content: center;
        padding: 20px 0px;

        .img_text_logo_menu {
            width: 110px;
        }
    }

    >div {
        height: 100%;
        padding: 0px 15px;


        >a {
            padding: 20px 10px;
            text-decoration: none;
            font-size: 18px;
            color: #202020;
            display: flex;
            align-items: center;
            border-radius: 15px;
            animation: an_menu_link 0.4s forwards;

            .name_menu {
                font-weight: 600;
                margin-top: -5px;
                margin-left: 10px;
            }

            .icon_menu {

                svg {
                    font-size: 20px;
                }
            }

        }

        @keyframes an_menu_link {
            from {
                transform: translateY(20px);
            }

            to {
                transform: translateY(0px);
            }
        }

        >a.active {
            background-color: $main_color;

            .name_menu {
                color: $color_white !important;
            }

            .icon_menu {
                svg {
                    font-weight: 700;
                    color: $color_white;

                    path {
                        color: $color_white;
                    }
                }
            }
        }
    }
}

.set_width_menu_chat {
    width: 100px;

    .name_menu {
        display: none;
    }

    .img_text_logo_menu {
        width: 50px !important;
    }

    a {
        justify-content: center;
    }

    .img_icon_menu {
        width: 40px;
        height: 40px;
        border: 2px solid $main_color;
        padding: 2px;
    }
}


.img_icon_menu {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid #fff;
}