.container_chat_page {
    display: flex;
    height: calc(100vh - 60px);

    >div {
        padding: 30px;
        background-color: #eaeaea;
        border-radius: 15px;
    }

    .box_menu_chat {
        width: 500px;
        margin-right: 30px;

        .box_list_chats {
            .active_select_chat{
                background-color: $main_color;
            }
            >a {
                display: block;
                border-radius: 15px;
                padding: 10px;
                color: #fff;
            }


        }
    }

    .box_content_chat {
        width: 100%;

        .box_message_index {
            height: 100%;
            display: flex;
            flex-direction: column;
            .header_top_user_rev{
                margin-bottom: 20px;
                border-bottom: 1px solid #d0cdcd;
                padding-bottom: 20px;
                #username_rev{
                    font-size: 20px;
                    font-weight: 700;
                }
            }

            .box_messages_container {
                height: 100%;
                overflow-y: auto;

                .image_avt_rev{
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    border: 1px solid;
                    margin-bottom: -8px;
                }

                >div {
                    width: 100%;
                    >div {
                        display: inline-block;
                        color: #fff;
                        padding: 8px;
                        margin: 5px 0px;
                        border-radius: 15px;
                    }
                }

                .message_pos_right {
                    text-align: right;

                }

                .border_right {
                    background-color: $main_color;
                }

                .border_left {
                    background-color: blue;
                }
            }

            .line_input_send {
                display: flex;
                width: 100%;

                textarea {
                    width: 100%;
                    height: 40px;
                    border-radius: 10px;
                    padding: 10px;
                }
            }
        }

    }
}